<html>
<h1>ALL THE students!!!</h1>

<!-- Simple Jinja template for displaying student data-->
<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
      <!--students is passed to this template in views.py-->
      <!--using a for loop since we want to display all students :) -->
    {% for u in students %}
      <tr>
        <td>{{ u.first_name }}</td>
        <td>{{ u.last_name }}</td>
        <td>{{ u.year }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="/students/add">Add a student here!</a>

</html>
